.alerts {
  background-color: #ECF0F1;
  padding: 20px;
  border-radius: 10px;
}

.alerts h3 {
  margin-bottom: 15px;
}

.alerts ul {
  list-style-type: none;
  padding: 0;
}

.alerts li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}