.payload-management {
  background-color: #ECF0F1;
  padding: 20px;
  border-radius: 10px;
}

.payload-management h3 {
  margin-bottom: 15px;
}

.payload-management ul {
  list-style-type: none;
  padding: 0;
}

.payload-management li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}